.contact-container {
  display: flex;
  flex-direction: column;
  background-image: url('/assets/images/backgrounds/pattern.png'); /* Patrón desde public */
  align-items: center;
  padding: 20px;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
}

form {
  max-width: 600px;
  margin: 40px auto;
  padding: 24px;
  background-color: var(--color-background);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 12px 24px;
  font-weight: bold;
}

mat-form-field.mat-form-field {
  background: white;
  border-radius: 6px;
}

textarea {
  min-height: 120px;
  resize: vertical;
}
