<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav mode="over" class="sidenav-overlay">
    <button mat-icon-button class="close-btn" (click)="sidenav.close()">
      <mat-icon>close</mat-icon>
    </button>

    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sidenav.close()">Inicio</a>
      <a mat-list-item routerLink="/admin" (click)="sidenav.close()">Admin</a>
      <a mat-list-item routerLink="/events" (click)="sidenav.close()">Eventos</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button class="menu-btn" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>

      <span class="spacer"></span>

      <button mat-icon-button>
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
