.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.toolbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  display: flex;
  align-items: center;
}

.toolbar-logo img {
  max-height: 100%;
  user-select: none;
  pointer-events: none;
}

.spacer {
  flex: 1 1 auto;
}

button[mat-button] {
  display: flex;
  align-items: center;
  width: auto;
  color: rgb(114, 60, 60);
}

.desktop-only {
  display: inline;
}

.mobile-only {
  display: none;
}

@media (max-width: 600px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: inline;
    margin-left: auto;
    margin-right: 4px;
  }
}

@media (min-width: 601px) {
  .desktop-only {
    display: inline;
  }
  .mobile-only {
    display: none;
  }
}
