<div class="events-container" *ngIf="!isLoading && !errorMessage">
  <h2 class="section-title">Próximos Eventos</h2>

  <ng-container *ngIf="events.length > 0; else noEvents">
    <div class="events-grid">
      <div class="event-card" *ngFor="let event of events">
        <svg class="event-image" xmlns="http://www.w3.org/2000/svg">
          <rect width="100%" height="100%" fill="#55595c"></rect>
          <text x="20%" y="50%" fill="#eceeef">{{ event.title }}</text>
        </svg>

        <div class="event-info">
          <p>{{ event.description }}</p>
          <p class="meta">Fecha: {{ event.date_time | date:'short' }}</p>
          <p class="meta">Lugar: {{ event.location }}</p>
          <p class="meta">Capacidad: {{ event.capacity }}</p>
          <button class="btn-view">Ver</button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #noEvents>
    <p class="no-events">No hay eventos disponibles</p>
  </ng-template>
</div>
